.chat-box {
    text-align: left;
    margin-top: 35px;
    background-color: rgb(236, 236, 236);
    font-size: 14px;
    font-family: 'Balsamiq Sans', cursive;
    overflow-wrap: break-word;
}

.admin-message {
    color: blue;
}

.bell {
    color:rgb(252, 109, 109)
}