.chat-box {
    text-align: left;
    height: 250px;
    margin-top: 35px;
    background-color: rgb(236, 236, 236);
    font-size: 14px;
    font-family: 'Balsamiq Sans', cursive;
    overflow-x: hidden;
}

.admin-message {
    color: blue;
}