.App {
  text-align: center;
  /* background-color: rgb(144, 185, 172); */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

.home-btn {
    margin-left: 2px;
    margin-right: 2px;
}

.swap-btn {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 135px;
    float: right;
}

.input-field {
    width: 50% !important;
    margin-right: auto;
    margin-left: auto;
}

.player-list .remove-button, .player-list p {
    font-size: large;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;   
}

.game-board {
    width: 100%;
}

.game-board, .game-board th, .game-board td {
    border: 1px solid black;
  }

.player-names {
    text-align: left;
}

.hidden-line {
    clear: both; 
    visibility: hidden; 
}

.take-center-btn {
    float: left;
}

.endgame-btn {
    margin-left: 5px;
    margin-right: 5px;
}

.play-mult-btn {
    float: left;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.center-div {
    display: flex;
    justify-content: center;

}

.left-div {
    text-align: left;
}

.help-btn {
    margin-top: 5px;
    margin-left: 10px;
    float: right;
}